h1{
    color: tomato;
}
#fruits-item{
    color: black;
}
.text-center{
    /* background-color: yellowgreen !important; */
    text-align: center;
}
.large-text{
    font-size: 2em;
    border: none;
}